<!--<p>
    <input type="number" [value]="duration()" (change)="changeDuration($event)">
</p>
<p>
    <input type="text" [value]="message()" (change)="changeMessage($event)">
</p>
-->

<div class="px-10">
    <h1 class="text-lg font-bold">About</h1>
    <p class="text_xs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor harum deleniti necessitatibus minima itaque facere, deserunt nemo rerum, quos consequatur quo iste corrupti reiciendis animi optio quia quis dolorem. Quos.</p>
    <p class="text_xs">Número de Clientes 
        <app-counter [duration]="duration()" [message]="message()" *ngIf="duration() > 0 " />
    </p>
    <div>
        <app-wave-audio audioURL="assets/audio.mp3"></app-wave-audio>
    </div>
</div>
<!--<p>
    <app-counter [duration]="duration()" [message]="message()" *ngIf="duration() > 0 " />
</p>
-->
